@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');
* {
    font-family: "Comic Relief", system-ui !important;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s ease all;
    font-weight: 700;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
a{
    text-decoration: none;
}
.name{
    color: rgb(39, 145, 39);
}
.swiper-scrollbar-horizontal{
}
.swiper-wrapper{
    margin-bottom: 50px !important; 
}