$main: rgba(53, 40, 191, 1);
$primary: #4f46e5;
$mainBackColor: #e2e9fe;
$boxShadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
$bigMain: #5e15d4;
$forp: #4e46e5b6;
$mt: 60px;
$bigMain: #4f46e5;
$perfectColor: #28a745;
$goodColor: #ffc107;
$tryAgainColor: #dc3545;

body {
  .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .nav {
      .nav-container {
        background: $mainBackColor;
        box-shadow: $boxShadow;
        padding: 20px;
        border-radius: 0 0 10px 10px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        width: 1440px;

        .burger-bar {
          display: none;
        }

        .sidebar {
          width: 65%;
          display: flex;
          justify-content: space-between;

          .logo-sidebar {
            display: none;
          }

          align-items: center;

          .category {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 500px;
            font-weight: 700;

            a {
              position: relative;
              text-decoration: none;
              color: $bigMain;

              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 2px;
                background-image: linear-gradient(
                  90deg,
                  rgba(131, 58, 180, 1) 0%,
                  rgba(253, 29, 29, 1) 50%,
                  rgba(252, 176, 69, 1) 100%
                );
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.3s ease-in-out;
              }

              &:hover::after {
                transform: scaleX(1);
              }
            }
          }

          .btn-group-user {
            display: flex;
            align-items: center;
            width: 170px;
            justify-content: space-between;

            button {
              width: 80px;
              height: 40px;
              font-weight: 600 !important;
            }

            .userBar {
              text-decoration: none;
              font-size: 20px;
              width: 44px;
              height: 44px;
              border-radius: 50%;

              div {
                text-decoration: none;
                width: 44px !important;
                height: 44px !important;
                color: white !important;
                background-color: #4f46e5;
                border-radius: 50%;
                overflow: hidden;

                img {
                  width: 44px;
                  height: 44px;
                }
              }
            }
          }
        }
      }
    }

    .pages {
      flex: 1;

      .main {
        .main-banner {
          box-shadow: $boxShadow;
          background-color: $mainBackColor;
          height: 100%;
          width: 1440px;
          margin: 0 auto;
          border-radius: 10px;
          padding: 30px;
          height: 550px;
          margin-top: $mt;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .first-main-container {
            color: #4f46e5;
            height: 400px;
            width: 50%;

            h1 {
              line-height: 60px;
              margin-bottom: 20px;
              font-size: 50px;
            }

            p {
              line-height: 60px;
              color: $forp;
              margin-bottom: 40px;
              line-height: 30px;
            }

            button {
              margin-right: 20px;
            }
          }

          .second-main-container {
            position: relative;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: url(../files/main/vector1.svg) no-repeat;
              background-size: 500px;
              background-position: 190px;
              opacity: 0.1;
              /* прозрачность только для фона */
              z-index: 1;
            }

            img {
              position: relative;
              z-index: 2;
              width: 250px;
              height: 250px;
              opacity: 1;
            }

            .star {
              top: -50px;
              position: absolute;
              left: 200px;
              z-index: 3;
              transform-origin: center center;

              img {
                width: 60px;
              }
            }

            .circ {
              transform-origin: center center;
              position: absolute;
              left: 430px;
              z-index: 2;
              bottom: 10px;

              img {
                opacity: 0.4;
                width: 120px;
              }
            }

            .rec {
              position: absolute;
              left: 490px;
              transform: translateY(60px);
              z-index: 1;
              top: 2px;

              img {
                width: 40px;
              }
            }
          }
        }

        .why_us {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          height: 300px;
          width: 1440px;
          margin: 0 auto;

          .why_cards {
            box-shadow: $boxShadow;
            border-radius: 10px;
            padding: 25px;
            width: 20%;
            height: 100%;

            .icon_circle {
              margin-bottom: 10px;
              width: 60px;
              height: 60px;
              padding: 14px 18px;
              border-radius: 50%;

              i {
                width: 10px !important;
                height: 10px !important;
                font-size: 25px;
                display: block;
              }
            }

            .main_title {
              font-size: 20px;
              margin-bottom: 10px;
              color: $primary;
            }

            p {
              width: 250px;
              font-weight: 500;
              color: $forp;
            }
          }
        }

        .categories-section {
          max-width: 1440px;
          margin: 0 auto;
          position: relative;

          .categories-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 2rem;
            padding: 0 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .category-card {
              width: 380px;
              border-radius: 10px;
              height: 420px;

              .category-icon {
                position: relative;
                height: 200px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                overflow: hidden;
                z-index: 1;

                .overlay {
                  position: absolute;
                  inset: 0;
                  background: linear-gradient(
                    to right,
                    rgba(184, 183, 183, 0.521),
                    rgba(255, 255, 255, 0.329) 40%,
                    rgba(255, 255, 255, 0.342) 60%,
                    rgba(252, 252, 252, 0.445)
                  );

                  backdrop-filter: blur(10px);
                  -webkit-backdrop-filter: blur(5px);
                  /* для Safari */
                  z-index: 7;
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                }

                .icon {
                  position: relative;
                  z-index: 8;

                  svg {
                    width: 120px;
                    fill: #000000;
                    /* темный цвет текста */
                    /* или */
                    fill: rgba(5, 5, 5, 0.8);
                    height: 100px;
                    fill: currentColor; // если хочешь цвет менять через color
                  }
                }
              }

              .category-title {
                color: $primary;
                padding: 10px;
                overflow: hidden;
                margin-bottom: 0;
              }

              .category-description {
                padding: 10px;
                height: 88px;
                color: $forp;
              }

              .category-link {
                margin-top: 10px !important;
                padding: 10px;
              }

              &:hover {
                .category-icon {
                  height: 200px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                  flex-direction: column;
                  transform: rotate(12px);

                  .icon {
                    transform: translateY(-10px);
                  }
                }

                .arrow {
                  margin-left: 10px;
                }

                .category-title {
                  padding: 10px;
                }

                .category-description {
                  padding: 10px;
                }

                .category-link {
                  padding: 10px;
                }
              }
            }
          }
        }

        .comments {
          display: flex;
          align-items: center;
          width: 1440px;
          justify-content: space-around;
          margin: 0 auto;

          .comment-card {
            width: 400px;
            height: 400px;
            border: 1px solid;
            border-radius: 10px;
            padding: 30px;

            .parent {
              margin-bottom: 30px;
              display: flex;
              align-items: center;

              .avatar {
                margin-right: 20px;
                width: 100px;
                height: 100px;
                font-size: 30px;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                border-radius: 50%;
                border: 1px solid;

                .fn {
                  text-align: center !important;
                }
              }

              .whose-parent {
                .name-parent {
                  font-size: 20px;
                  font-weight: 600;
                }

                .parent-child {
                  font-weight: 100;
                }
              }
            }

            .parent-main-commetn {
              margin-bottom: 10px;
            }
          }
        }
      }

      .games {
        .main-games {
          width: 1440px;
          margin: 0 auto;

          .main-game-content {
            .main-game-banner {
              margin-top: 40px;

              .slide {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .game-slide-first {
                  width: 40%;
                }

                button {
                  width: 400px;
                  height: 40px;
                }

                .game-slide-second {
                  img {
                    width: 500px;
                    height: 500px;
                  }
                }
              }
            }
          }
        }

        nav {
          font-size: 15px;
        }

        .color-game {
          width: 1440px !important;
        }
      }

      .Shaxsiy {
        margin: 0 auto;
        margin-top: 20px;
        padding: 30px;
        width: 100%;
        border-radius: 10px;
        .left-container {
          height: 1000px;
          display: flex;
          flex-direction: row-reverse;
          align-items: start;
          justify-content: space-between;
          .profile {
            border-radius: 10px;
            padding: 20px;
            width: 1000px;
            height: 100%;
            border: 1px solid $mainBackColor;
            background: $mainBackColor;
            box-shadow: #c4baba 1px 10px 10px 10px;

            .main-avatar {
              display: flex;
              align-items: center;
              flex-direction: column;

              .profile-det {
                margin-left: 10px;
                display: flex;
                color: #4f46e5;
                flex-direction: column;
              }

              .avatar {
                width: 80px;
                height: 80px;
                overflow: hidden;
                border-radius: 50% !important;

                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }

          .quick-panel {
            width: 300px;
            a {
              font-weight: 500;
              margin-top: 10px;

              &:hover {
                &::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  width: 100%;
                  height: 2px;
                  background-image: linear-gradient(
                    90deg,
                    rgba(131, 58, 180, 1) 0%,
                    rgba(253, 29, 29, 1) 50%,
                    rgba(252, 176, 69, 1) 100%
                  );
                  transform: scaleX(0);
                  transform-origin: left;
                  transition: transform 0.3s ease-in-out;
                }
              }
            }
          }
        }
      }

      .ertak {
        width: 1440px;
        margin: 0 auto;
      }

      .Ertaklar {
        width: 1440px;
        margin: 0 auto;

        .ertaklar {
          display: flex;
          align-items: center;
          justify-content: space-around;
          margin-top: 50px;
          flex-wrap: wrap;

          .cardlar {
            margin-bottom: 30px;
            border: 1px solid $bigMain;
            border-radius: 10px;
            height: 420px;
            overflow: hidden;
            width: 300px;

            .text-card {
              color: #5e15d4;
              padding: 10px;
            }

            img {
              border-bottom: 1px $bigMain;
              width: 100%;
              height: 250px;
            }

            .description-story {
              color: $forp;
              font-size: 12px;
              overflow: hidden;
              height: 80px;
            }
          }
        }
      }

      .Mashqlar {
        width: 1440px;
        margin: 0 auto;

        .mashqlar-main-banner {
          margin-top: 100px;
          height: 600px;

          .slide {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .mashqlar-slide-first {
              height: 300px;
              width: 40%;

              h1 {
                p {
                  color: red;
                }
              }

              button {
                width: 300px;
                height: 50px;
                margin-top: 40px;
              }
            }

            .mashqlar-slide-second {
              img {
                height: 400px;
                width: 460px;
              }
            }
          }
        }
      }

      .Ota-onalar {
        width: 1440px;
        margin: 0 auto;
      }

      .Resource {
        width: 1440px;
        margin: 0 auto;

        .main-resource {
          height: 100%;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;

          .kitoblar {
            width: 220px;
            padding: 10px;

            img {
              width: 100%;
              height: 220px;
            }
          }
        }
      }

      .testlar-container {
        width: 1440px;
        margin: 0 auto;
        font-family: Arial, sans-serif;

        h2 {
          text-align: center;
          margin-top: 40px;
          font-size: 32px;
          color: #333;
        }

        .test-body {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
        }

        .test-item {
          width: 300px;
          margin: 0 auto;
          border: 1px solid $bigMain;
          margin-bottom: 40px;
          border-radius: 10px;
          overflow: hidden;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.05);
          }

          p {
            color: #fff;
            font-size: 30px;
            text-align: center;
            padding: 20px;
            border-bottom: 1px solid $bigMain;
            background-color: $bigMain;
          }

          .options {
            display: flex;
            flex-wrap: wrap;
            padding: 10px 20px;
            justify-content: space-between;
            align-items: start;

            label {
              width: 30%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;
              transition: background-color 0.2s ease;

              &:hover {
                background-color: $bigMain;
                color: #fff;
              }
            }
          }
        }

        .score {
          margin-top: 20px;
          text-align: center;

          button {
            padding: 10px 20px;
            background-color: #4caf50;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 100%;
            font-size: 16px;

            &:hover {
              background-color: #45a049;
            }
          }
        }

        .result-message {
          margin-top: 20px;
          padding: 20px;
          text-align: center;
          border-radius: 10px;
          font-size: 1.2em;
          animation: fadeIn 1s ease-in-out;

          h3 {
            margin-bottom: 10px;
          }

          &.perfect {
            background-color: $perfectColor;
            color: white;
          }

          &.good {
            background-color: $goodColor;
            color: black;
          }

          &.try-again {
            background-color: $tryAgainColor;
            color: white;
          }
        }
      }

      .fanlar-test {
        width: 1440px;
        margin: 0 auto;

        .fanlar {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          flex-direction: row;

          .card-subject {
            border: 1px solid $bigMain;
            border-radius: 10px;
            overflow: hidden;
            margin-bottom: 40px;

            img {
              width: 300px;
            }

            h3 {
              padding: 0px 15px;
            }
          }
        }
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateY(30px);
        }

        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .Video {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;

        .main-category {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 20px;
          justify-content: center;

          .subjectLessons {
            flex: 0 1 300px;
            box-sizing: border-box;

            .subjects {
              border-radius: 20%;
              height: 250px;
              text-align: center;
              border: 1px solid $forp;
              overflow: hidden;

              img {
                width: 100%;
                height: 170px;
                object-fit: cover; // картинка сохраняет пропорции и покрывает область
                border-radius: 20% 20% 0 0; // скругляем верх изображения (опционально)
              }

              .content-subject {
                padding: 10px;
              }
            }
          }
        }
      }

      .darslar-royhati {
        width: 1440px;
        margin: 0 auto;
      }
    }

    .footer {
      background-color: $bigMain;
      width: 1440px;
      margin: 0 auto;
      justify-content: space-between;
      display: flex;
      align-items: flex-start;
      margin-top: 100px;
      height: 230px;
      padding: 30px;
      padding-bottom: 50px;
      border: 1px solid;
      color: #fff;
      border-radius: 10px 10px 0 0;

      .first-footer-category {
        width: 300px;

        .logo-footer {
          font-size: 25px;
        }

        .first-footer-description {
          margin-top: 20px;
          margin-bottom: 10px;
        }

        .social-networks {
          i {
            margin-right: 10px;
            font-size: 20px;
          }
        }
      }

      .footer-con {
        .foot-title {
          font-size: 23px;
        }

        .mini-bar {
          margin-top: 10px;
          display: flex;
          align-items: start;
          flex-direction: column;
          justify-content: start;
          text-align: left;

          div {
            margin-top: 7px;
          }

          a {
            margin-top: 10px;
            color: #fff;
          }
        }
      }
    }

    .not-found {
      width: 1440px;
      margin: 0 auto;
    }

    @media (max-width: 600px) {
      width: 100%;
      margin: 0 auto;
      .quick-links {
        display: none;
      }
      .breadcrumb {
        font-size: 15px;
      }

      .nav {
        .nav-container {
          box-shadow: $boxShadow;
          padding: 20px;
          display: flex;
          margin: 0 auto;
          align-items: center;
          justify-content: space-between;
          width: 100%;

          .burger-bar {
            display: block;
            border: 0;
            background: transparent;

            i {
              font-size: 20px;
            }
          }

          .logo {
            width: 180px;
            font-size: 20px;
            width: 200px !important;

            .logo-title {
              width: 200px !important;
            }
          }

          .sidebar {
            top: 0;
            position: fixed !important;
            display: flex;
            flex-direction: column;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            width: 300px;
            align-items: center;
            height: 100% !important;
            flex-shrink: 0;
            background: #4f46e5;
            justify-content: space-between;
            padding: 5px 30px;
            z-index: 10;
            transform: translateX(-300px);
            height: 100%;

            .logo-sidebar {
              display: flex;
              width: 100%;
              // padding: 0px 20px;
              justify-content: space-between;

              .logo {
                width: 160px;

                .logo-title {
                  font-size: 20px !important;
                }
              }

              button {
                background: transparent;
                border: none;
                color: #fff;
                font-size: 20px;
              }
            }

            .category {
              height: 400px;
              width: 100%;
              display: flex;
              align-items: start;
              justify-content: space-evenly;
              flex-direction: column;
              z-index: 20;

              a {
                width: 100%;
                color: #fff !important;
                position: relative;
                text-decoration: none;
                color: $bigMain;

                &::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: -2px;
                  width: 100%;
                  height: 2px;
                  background-image: linear-gradient(
                    90deg,
                    rgba(131, 58, 180, 1) 0%,
                    rgba(253, 29, 29, 1) 50%,
                    rgba(252, 176, 69, 1) 100%
                  );
                  transform: scaleX(0);
                  transform-origin: left;
                  transition: transform 0.3s ease-in-out;
                }

                &:hover::after {
                  transform: scaleX(1);
                }
              }
            }

            .btn-group-user {
              width: 100%;
              display: block;

              .d-flex {
                button {
                  width: 80px;
                  height: 40px;
                  font-weight: 600 !important;
                }

                align-items: center;
                justify-content: space-between;

                .userBar {
                  text-decoration: none;
                  font-size: 20px;
                  width: 44px;
                  height: 44px;
                  border-radius: 50%;

                  div {
                    text-decoration: none;
                    width: 44px !important;
                    height: 44px !important;
                    color: white !important;
                    background-color: #4f46e5;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                      width: 44px;
                      height: 44px;
                    }
                  }
                }

                .log-out {
                }
              }
            }
          }
        }
      }

      .not-found {
        width: 100%;
        margin: 0 auto;
      }

      .pages {
        flex: 1;
        width: 100%;
        .main {
          .main-banner {
            position: relative;
            box-shadow: $boxShadow;
            background-color: $mainBackColor;
            height: 500px;
            width: 100%;
            margin: 0 auto;
            border-radius: 10px;
            padding: 10px;
            height: 550px;
            margin-top: $mt;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .first-main-container {
              color: #4f46e5;
              height: 400px;
              width: 50%;
              z-index: 5;

              h1 {
                width: 600px;
                line-height: 60px;
                margin-bottom: 0px;
                font-size: 20px;

                .logo-style {
                  font-size: 20px;
                }
              }

              p {
                width: 80%;
                color: $forp;
                margin-bottom: 40px;
                line-height: 20px;
                font-size: 12px;
              }
            }

            overflow: hidden;

            .second-main-container {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              transform: translateX(-100px);

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: url(../files/main/vector1.svg) no-repeat;
                background-size: 500px;
                background-position: 190px;
                opacity: 0.1;
                /* прозрачность только для фона */
                z-index: 1;
              }

              img {
                position: relative;
                z-index: 2;
                width: 150px;
                height: 150px;
                opacity: 1;
                left: 20px;
              }

              .star {
                position: absolute;
                top: 90px;
                left: 100px;
                z-index: 3;
                transform-origin: center center;

                img {
                  width: 60px;
                }
              }

              .circ {
                transform-origin: center center;
                position: absolute;
                left: -100px;
                top: 400px;
                z-index: 2;
                bottom: 10px;

                img {
                  opacity: 0.4;
                  width: 320px;
                  height: 320px;
                }
              }

              .animation_top_back {
                left: 120px;
              }

              .rec {
                position: absolute;
                left: -100px;
                transform: translateY(60px);
                z-index: 1;
                top: -100px;

                img {
                  width: 90px;
                }
              }
            }
          }

          .why_us {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-evenly;
            flex-direction: column;
            margin: 0 auto;
            height: 1000px;

            .why_cards {
              box-shadow: $boxShadow;
              border-radius: 10px;
              padding: 25px;
              width: 80%;
              height: 300px;

              .icon_circle {
                margin-bottom: 10px;
                width: 60px;
                height: 60px;
                padding: 14px 18px;
                border-radius: 50%;

                i {
                  width: 10px !important;
                  height: 10px !important;
                  font-size: 25px;
                  display: block;
                }
              }

              .main_title {
                font-size: 20px;
                margin-bottom: 10px;
                color: $primary;
              }

              p {
                width: 250px;
                font-weight: 500;
                color: $forp;
              }
            }
          }

          .categories-section {
            max-width: 100%;
            margin: 0 auto;
            position: relative;

            .categories-grid {
              gap: 2rem;
              padding: 0 1rem;
              margin: 0 auto;
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: column;

              .category-card {
                width: 50%px;
                border-radius: 10px;
                height: 400px;

                .category-icon {
                  position: relative;
                  height: 200px;
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  overflow: hidden;
                  z-index: 1;

                  .overlay {
                    position: absolute;
                    inset: 0;
                    background: linear-gradient(
                      to right,
                      rgba(184, 183, 183, 0.521),
                      rgba(255, 255, 255, 0.329) 40%,
                      rgba(255, 255, 255, 0.342) 60%,
                      rgba(252, 252, 252, 0.445)
                    );

                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(5px);
                    /* для Safari */
                    z-index: 7;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                  }

                  .icon {
                    position: relative;
                    z-index: 8;

                    svg {
                      width: 120px;
                      fill: #000000;
                      /* темный цвет текста */
                      /* или */
                      fill: rgba(5, 5, 5, 0.8);
                      height: 100px;
                      fill: currentColor; // если хочешь цвет менять через color
                    }
                  }
                }

                .category-title {
                  color: $primary;
                  padding: 10px;
                  overflow: hidden;
                  margin-bottom: 0;
                }

                .category-description {
                  padding: 10px;
                  height: 88px;
                  color: $forp;
                }

                .category-link {
                  margin-top: 10px !important;
                  padding: 10px;
                }

                &:hover {
                  .category-icon {
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    flex-direction: column;
                    transform: rotate(12px);

                    .icon {
                      transform: translateY(-10px);
                    }
                  }

                  .arrow {
                    margin-left: 10px;
                  }

                  .category-title {
                    padding: 10px;
                  }

                  .category-description {
                    padding: 10px;
                  }

                  .category-link {
                    padding: 10px;
                  }
                }
              }
            }
          }

          .comments {
            width: 100%;
            max-width: 1440px;
            display: flex;
            margin: 0 auto;
            padding: 20px 15px; // mobilda yon tomonlar zich bo‘lib qolmasin

            .comment-card {
              width: 100% !important;
              height: auto;
              border: 1px solid #eee;
              border-radius: 15px;
              padding: 20px;
              background: #fff;
              box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
              display: flex;
              flex-direction: column;
              justify-content: center;

              .parent {
                margin-bottom: 20px;
                display: flex;
                align-items: center;

                .avatar {
                  margin-right: 15px;
                  width: 70px;
                  height: 70px;
                  font-size: 22px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                  overflow: hidden;
                  border: 1px solid #ddd;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }

                .whose-parent {
                  .name-parent {
                    font-size: 18px;
                    font-weight: 600;
                  }

                  .parent-child {
                    font-size: 14px;
                    font-weight: 400;
                    color: #666;
                  }
                }
              }

              .parent-main-commetn {
                font-size: 15px;
                line-height: 1.5;
                margin-bottom: 10px;
                color: #444;
              }

              .stars {
                font-size: 18px;
                color: #ffd700;
              }
            }
          }
        }

        .games {
          .main-games {
            width: 100%;
            margin: 0 auto;

            .main-game-content {
              .main-game-banner {
                margin-top: 30px;

                .slide {
                  border: 1px solid $bigMain;
                  border-radius: 10px;
                  padding: 15px;
                  height: 440px;
                  display: flex;
                  flex-direction: column-reverse;
                  align-items: center;
                  justify-content: space-between;

                  .game-slide-first {
                    width: 100%;

                    h1 {
                      color: $forp;
                    }
                  }

                  button {
                    width: 100%;
                    height: 40px;
                  }

                  .game-slide-second {
                    img {
                      width: 200px;
                      height: 200px;
                    }
                  }
                }
              }
            }
          }

          nav {
            font-size: 15px;
          }

          .color-game {
            width: 100% !important;
          }
        }

        .Shaxsiy {
          margin: 0 auto;
          margin-top: 20px;
          padding: 30px;
          width: 100% !important;
          border-radius: 10px;
          height: 600px !important;

          .left-container {
            box-shadow: 0px 10px 20px 1px;
            border-radius: 10px;
            margin: 0 auto;
            height: 100% !important;
            width: 100%;

            .profile {
              border-radius: 10px;
              padding: 20px;
              width: 300px;
              height: 200px;
              border: 1px solid $mainBackColor;
              background: $mainBackColor;
              box-shadow: none !important;
              border-bottom-left-radius: 0px !important;
              border-bottom-right-radius: 0px !important;

              .main-avatar {
                display: flex;
                align-items: center;

                .profile-det {
                  margin-left: 10px;
                  display: flex;
                  color: #4f46e5;
                  flex-direction: column;
                }

                .avatar {
                  width: 80px;
                  height: 80px;
                  overflow: hidden;
                  border-radius: 50% !important;

                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }

            .quick-panel {
              a {
                font-weight: 500;
                margin-top: 10px;

                &:hover {
                  &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 100%;
                    height: 2px;
                    background-image: linear-gradient(
                      90deg,
                      rgba(131, 58, 180, 1) 0%,
                      rgba(253, 29, 29, 1) 50%,
                      rgba(252, 176, 69, 1) 100%
                    );
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease-in-out;
                  }
                }
              }
            }
          }
        }

        .register {
          width: 98%;
          overflow: hidden;
          border-radius: 10px;
          height: 1200px;
          display: flex;
          margin: 0 auto;
          margin-top: 40px;
          flex-direction: column;

          .reg-first {
            border-radius: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 3px;
            padding: 30px;
            width: 100%;
            background: linear-gradient(
              90deg,
              rgba(53, 40, 191, 1),
              rgba(145, 46, 232, 1),
              rgba(169, 90, 237, 1)
            );
            color: #fff;

            p {
              margin-top: 20px;
              font-size: 10px;
              margin-left: 10px;
            }

            .info {
              background: linear-gradient(
                90deg,
                rgba(53, 40, 191, 1),
                rgba(145, 46, 232, 1),
                rgba(169, 90, 237, 1)
              );
              padding: 20px;
              font-size: 14px;
              margin-top: 20px;
              color: #c4baba;
              border-radius: 10px;
            }

            ul {
              li {
                border: none;
                color: #fff;
                background: transparent;
                display: flex;
                align-items: center;

                &::before {
                  margin-right: 20px;
                  width: 40px !important;
                  height: 40px !important;
                  padding-left: 10px;
                  padding-top: 6px;
                  font-size: 20px;
                  border-radius: 50%;
                  background-color: #4f46e5;
                  content: "✔";
                  display: block;
                }
              }
            }
          }

          .reg-second {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            width: 100%;
            margin: 0 auto;

            form {
              display: flex;
              align-items: center;
              flex-direction: column;
            }

            h2 {
              text-align: center;
              margin-bottom: 10px;
            }

            .btn {
              margin: 0 auto !important;
              text-align: center;

              button {
                height: 50px;
                margin-bottom: 15px;
                width: 200px;
              }
            }
          }
        }

        .Shaxsiy {
          margin: 0 auto;
          margin-top: 20px;
          padding: 30px;
          width: 1440px;
          border-radius: 10px;
          height: 1000px;

          .left-container {
            height: 1000px;
            width: 300px;

            .profile {
              border-radius: 10px;
              padding: 20px;
              width: 300px;
              height: 200px;
              border: 1px solid $mainBackColor;
              background: $mainBackColor;
              box-shadow: #c4baba 1px 10px 10px 10px;

              .main-avatar {
                display: flex;
                align-items: center;

                .profile-det {
                  margin-left: 10px;
                  display: flex;
                  color: #4f46e5;
                  flex-direction: column;
                }

                .avatar {
                  width: 80px;
                  height: 80px;
                  overflow: hidden;
                  border-radius: 50% !important;

                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }

            .quick-panel {
              a {
                font-weight: 500;
                margin-top: 10px;

                &:hover {
                  &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 100%;
                    height: 2px;
                    background-image: linear-gradient(
                      90deg,
                      rgba(131, 58, 180, 1) 0%,
                      rgba(253, 29, 29, 1) 50%,
                      rgba(252, 176, 69, 1) 100%
                    );
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease-in-out;
                  }
                }
              }
            }
          }
        }

        .ertak {
          width: 100%;
        }

        .Ertaklar {
          width: 100%;
          margin: 0 auto;
        }

        .Mashqlar {
          width: 100%;
          margin: 0 auto;

          .mashqlar-main-banner {
            margin-top: 100px;
            height: 600px;

            .slide {
              display: flex;
              align-items: center;
              flex-direction: column-reverse;
              text-align: center;
              justify-content: space-evenly;

              .mashqlar-slide-first {
                height: 100%;
                width: 100%;

                h1 {
                  height: 60px;

                  p {
                    color: red;
                  }
                }

                p {
                  text-align: left;
                  height: 80px;
                }

                button {
                  width: 300px;
                  height: 50px;
                  margin-top: 40px;
                }
              }

              .mashqlar-slide-second {
                img {
                  height: 400px;
                  width: 460px;
                }
              }
            }
          }
        }

        .Ota-onalar {
          width: 100%;
          margin: 0 auto;
        }

        .Resource {
          width: 100%;
          margin: 0 auto;
        }

        .testlar-container {
          width: 100%;
          margin: 0 auto;
          font-family: Arial, sans-serif;

          h2 {
            text-align: center;
            margin-top: 40px;
            font-size: 32px;
            color: #333;
          }

          .test-body {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
          }

          button {
            width: 100%;
          }

          .test-item {
            width: 300px;
            margin: 0 auto;
            border: 1px solid $bigMain;
            margin-bottom: 40px;
            border-radius: 10px;
            overflow: hidden;
            transition: transform 0.3s ease;

            &:hover {
              transform: scale(1.05);
            }

            p {
              color: #fff;
              font-size: 30px;
              text-align: center;
              padding: 20px;
              border-bottom: 1px solid $bigMain;
              background-color: $bigMain;
            }

            .options {
              display: flex;
              flex-wrap: wrap;
              padding: 10px 20px;
              justify-content: space-between;
              align-items: start;

              label {
                width: 30%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                transition: background-color 0.2s ease;

                &:hover {
                  background-color: $bigMain;
                  color: #fff;
                }
              }
            }
          }

          .score {
            margin-top: 20px;
            text-align: center;

            button {
              padding: 10px 20px;
              background-color: #4caf50;
              color: white;
              border: none;
              cursor: pointer;
              transition: background-color 0.3s ease;
              width: 100%;
              font-size: 16px;

              &:hover {
                background-color: #45a049;
              }
            }
          }

          .result-message {
            margin-top: 20px;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
            font-size: 1.2em;
            animation: fadeIn 1s ease-in-out;

            h3 {
              margin-bottom: 10px;
            }

            &.perfect {
              background-color: $perfectColor;
              color: white;
            }

            &.good {
              background-color: $goodColor;
              color: black;
            }

            &.try-again {
              background-color: $tryAgainColor;
              color: white;
            }
          }
        }

        .fanlar-test {
          width: 100%;
          margin: 0 auto;

          .fanlar {
            margin-top: 40px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;

            .card-subject {
              border: 1px solid $bigMain;
              border-radius: 10px;
              overflow: hidden;
              margin-bottom: 40px;

              img {
                width: 300px;
              }

              h3 {
                padding: 0px 15px;
              }
            }
          }
        }

        .Video {
          width: 100%;
          max-width: 1440px;
          margin: 0 auto;

          .main-category {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            justify-content: center;

            .subjectLessons {
              flex: 0 1 300px;
              box-sizing: border-box;

              .subjects {
                border-radius: 20%;
                height: 250px;
                text-align: center;
                border: 1px solid $forp;
                overflow: hidden;

                img {
                  width: 100%;
                  height: 170px;
                  object-fit: cover; // картинка сохраняет пропорции и покрывает область
                  border-radius: 20% 20% 0 0; // скругляем верх изображения (опционально)
                }

                .content-subject {
                  padding: 10px;
                }
              }
            }
          }
        }

        .darslar-royhati {
          width: 100%;
          margin: 0 auto;

          iframe {
            height: 350px;
          }
        }
      }

      .footer {
        background-color: $bigMain;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 100px;
        border: 1px solid;
        color: #fff;
        border-radius: 10px 10px 0 0;
        left: 0;
        height: 180px;

        .first-footer-category {
          width: 200px;
          text-align: center;
          margin: 0 auto;

          .logo-footer {
            font-size: 20px;
            width: 200px;
          }

          .first-footer-description {
            margin-top: 8px;
            display: none;
            font-size: 7px;
            margin-bottom: 10px;
          }

          .social-networks {
            margin: 0 auto;
            margin-top: 10px;

            i {
              margin-right: 10px;
              font-size: 25px;
            }
          }
        }

        .second-footer {
          display: flex;
          margin: 0 auto;
          flex-direction: row;

          .second-main {
            display: none;
          }

          .mini-bar {
            width: 250px;
            justify-content: space-between !important;
            display: flex;
            align-items: center;
            flex-direction: row !important;
          }
        }

        .footer-con {
          .foot-title {
            font-size: 13px;
          }

          .mini-bar {
            margin-top: 5px;
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: start;
            text-align: left;

            div {
              margin-top: 7px;
            }

            a {
              margin-top: 5px;
              font-size: 10px;
              color: #fff;
            }
          }
        }

        .third-footer {
          display: none;
        }
      }
    }
  }

  .register {
    width: 800px;
    border-radius: 10px;
    height: 700px;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;

    .reg-first {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 3px;
      padding: 30px;
      width: 50%;
      background: linear-gradient(
        90deg,
        rgba(53, 40, 191, 1),
        rgba(145, 46, 232, 1),
        rgba(169, 90, 237, 1)
      );
      color: #fff;

      p {
        margin-top: 20px;
        font-size: 10px;
        margin-left: 10px;
      }

      .info {
        background: linear-gradient(
          90deg,
          rgba(53, 40, 191, 1),
          rgba(145, 46, 232, 1),
          rgba(169, 90, 237, 1)
        );
        padding: 20px;
        font-size: 14px;
        margin-top: 20px;
        color: #c4baba;
        border-radius: 10px;
      }

      ul {
        li {
          border: none;
          color: #fff;
          background: transparent;
          display: flex;
          align-items: center;

          &::before {
            margin-right: 20px;
            width: 40px !important;
            height: 40px !important;
            padding-left: 10px;
            padding-top: 6px;
            font-size: 20px;
            border-radius: 50%;
            background-color: #4f46e5;
            content: "✔";
            display: block;
          }
        }
      }
    }

    .reg-second {
      padding: 20px;
      width: 50%;

      h2 {
        text-align: center;
        margin-bottom: 10px;
      }

      button {
        height: 50px;
        margin-bottom: 15px;
        width: 200px;
      }
    }
  }
}
.courses-profile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  div {
    .kurs {
      display: inline-block;
      border: 1px solid;
      border-radius: 15px;
      text-align: center;
      overflow: hidden;
      width: 200px;
      img {
        width: 100%;
      }
    }
  }
}

.Shaxsiy {
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px;
  width: 100% !important;
  border-radius: 10px;
  max-width: 1440px;

  .left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0px 10px 20px 1px;
    border-radius: 10px;
    margin: 0 auto;
    height: 100% !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .profile {
      border-radius: 10px;
      padding: 20px;
      width: 300px;
      height: 200px;
      border: 1px solid $mainBackColor;
      background: $mainBackColor;
      box-shadow: none !important;
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important;

      .main-avatar {
        display: flex;
        align-items: center;

        .profile-det {
          margin-left: 10px;
          display: flex;
          color: #4f46e5;
          flex-direction: column;
        }

        .avatar {
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: 50% !important;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .quick-panel {
      a {
        font-weight: 500;
        margin-top: 10px;
        position: relative;

        &:hover::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          background-image: linear-gradient(
            90deg,
            rgba(131, 58, 180, 1) 0%,
            rgba(253, 29, 29, 1) 50%,
            rgba(252, 176, 69, 1) 100%
          );
          transform: scaleX(1);
          transform-origin: left;
          transition: transform 0.3s ease-in-out;
        }
      }
    }

    /* 📱 Responsive qism */
    @media (max-width: 1024px) {
      flex-direction: column; /* Yonma-yon emas, ustma-ust bo‘ladi */
      align-items: center;
      height: auto !important;
      width: 100% !important;
      flex-direction: column !important;

      .profile {
        width: 100% !important; /* To‘liq ekran egallaydi */
        height: auto !important;
        margin-bottom: 20px;
      }
    }

    @media (max-width: 600px) {
      padding: 15px;

      .profile {
        padding: 15px;

        .main-avatar {
          flex-direction: column; /* Avatar va ism pastga tushadi */
          text-align: center;

          .profile-det {
            margin-left: 0;
            margin-top: 10px;
            align-items: center;
          }
        }
      }
    }
  }
}
