$main: rgba(53, 40, 191, 1);
$primary: #4f46e5;
$mainBackColor: #e2e9fe;
$boxShadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
$bigMain: #5e15d4;
$forp: #4e46e5b6;
$mt: 60px;

body {
  .app {
    .nav {
      margin-top: 2px;

      .nav-container {
        background: $mainBackColor;
        box-shadow: $boxShadow;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        width: 1440px;

        .category {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 500px;
          font-weight: 700;

          a {
            position: relative;
            text-decoration: none;
            color: $bigMain;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -2px;
              width: 100%;
              height: 2px;
              background-image: linear-gradient(
                90deg,
                rgba(131, 58, 180, 1) 0%,
                rgba(253, 29, 29, 1) 50%,
                rgba(252, 176, 69, 1) 100%
              );
              transform: scaleX(0);
              transform-origin: left;
              transition: transform 0.3s ease-in-out;
            }

            &:hover::after {
              transform: scaleX(1);
            }
          }
        }

        .btn-group-user {
          display: flex;
          align-items: center;
          width: 170px;
          justify-content: space-between;

          button {
            width: 80px;
            height: 40px;
            font-weight: 600 !important;
          }

          .userBar {
            text-decoration: none;
            font-size: 20px;
            width: 44px;
            height: 44px;
            border-radius: 50%;

            div {
              text-decoration: none;
              width: 44px !important;
              height: 44px !important;
              color: white !important;
              background-color: #4f46e5;
              border-radius: 50%;
              overflow: hidden;

              img {
                width: 44px;
                height: 44px;
              }
            }
          }
        }
      }
    }

    .pages {
      height: 100vh;

      .main {
        .main-banner {
          box-shadow: $boxShadow;
          background-color: $mainBackColor;
          height: 100%;
          width: 1440px;
          margin: 0 auto;
          border-radius: 10px;
          padding: 30px;
          height: 550px;
          margin-top: $mt;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .first-main-container {
            color: #4f46e5;
            height: 400px;
            width: 50%;

            h1 {
              line-height: 60px;
              margin-bottom: 20px;
              font-size: 50px;
            }

            p {
              line-height: 60px;
              color: $forp;
              margin-bottom: 40px;
              line-height: 30px;
            }

            button {
              margin-right: 20px;
            }
          }

          .second-main-container {
            position: relative;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background: url(../files/main/vector1.svg) no-repeat;
              background-size: 500px;
              background-position: 190px;
              opacity: 0.1;
              /* прозрачность только для фона */
              z-index: 1;
            }

            img {
              position: relative;
              z-index: 2;
              width: 250px;
              height: 250px;
              opacity: 1;
            }

            .star {
              top: -50px;
              position: absolute;
              left: 200px;
              z-index: 3;
              transform-origin: center center;

              img {
                width: 60px;
              }
            }

            .circ {
              transform-origin: center center;
              position: absolute;
              left: 430px;
              z-index: 2;
              bottom: 10px;

              img {
                opacity: 0.4;
                width: 120px;
              }
            }

            .rec {
              position: absolute;
              left: 490px;
              transform: translateY(60px);
              z-index: 1;
              top: 2px;

              img {
                width: 40px;
              }
            }
          }
        }

        .why_us {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          height: 300px;
          width: 1440px;
          margin: 0 auto;

          .why_cards {
            box-shadow: $boxShadow;
            border-radius: 10px;
            padding: 25px;
            width: 20%;
            height: 100%;

            .icon_circle {
              margin-bottom: 10px;
              width: 60px;
              height: 60px;
              padding: 14px 18px;
              border-radius: 50%;

              i {
                width: 10px !important;
                height: 10px !important;
                font-size: 25px;
                display: block;
              }
            }

            .main_title {
              font-size: 20px;
              margin-bottom: 10px;
              color: $primary;
            }

            p {
              width: 250px;
              font-weight: 500;
              color: $forp;
            }
          }
        }

        .categories-section {
          max-width: 1440px;
          margin: 0 auto;
          position: relative;
          .categories-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 2rem;
            padding: 0 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .category-card {
              width: 380px;
              border-radius: 10px;
              height: 400px;
              .category-icon {
                position: relative;
                height: 200px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                overflow: hidden;
                z-index: 1;
                .overlay {
                  position: absolute;
                  inset: 0;
                  background: linear-gradient(
                    to right,
                    rgba(184, 183, 183, 0.521),
                    rgba(255, 255, 255, 0.329) 40%,
                    rgba(255, 255, 255, 0.342) 60%,
                    rgba(252, 252, 252, 0.445)
                  );

                  backdrop-filter: blur(10px);
                  -webkit-backdrop-filter: blur(5px); /* для Safari */
                  z-index: 7;
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                }

                .icon {
                  position: relative;
                  z-index: 8;

                  svg {
                    width: 120px;
                    fill: #000000; /* темный цвет текста */
                    /* или */
                    fill: rgba(5, 5, 5, 0.8);
                    height: 100px;
                    fill: currentColor; // если хочешь цвет менять через color
                  }
                }
              }

              .category-title {
                padding: 10px;
                width: 140px;
                overflow: hidden;
              }
              .category-description {
                padding: 10px;
                height: 68px;
              }
              .category-link {
                padding: 10px;
              }
              &:hover {
                .category-icon {
                  height: 200px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-top-left-radius: 10px;
                  border-top-right-radius: 10px;
                  flex-direction: column;
                  transform: rotate(12px);
                  .icon {
                    transform: translateY(-10px);
                  }
                }
                .arrow{
                  margin-left: 10px;
                }
                .category-title {
                  padding: 10px;
                }
                .category-description {
                  padding: 10px;
                  height: 68px;
                }
                .category-link {
                  padding: 10px;
                }
              }
            }
          }
        }
      }

      .Shaxsiy {
        margin: 0 auto;
        margin-top: 20px;
        padding: 30px;
        width: 1440px;
        border-radius: 10px;
        height: 1000px;

        .left-container {
          height: 1000px;
          width: 300px;

          .profile {
            border-radius: 10px;
            padding: 20px;
            width: 300px;
            height: 200px;
            border: 1px solid $mainBackColor;
            background: $mainBackColor;
            box-shadow: #c4baba 1px 10px 10px 10px;

            .main-avatar {
              display: flex;
              align-items: center;

              .profile-det {
                margin-left: 10px;
                display: flex;
                color: #4f46e5;
                flex-direction: column;
              }

              .avatar {
                width: 80px;
                height: 80px;
                overflow: hidden;
                border-radius: 50% !important;

                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }

          .quick-panel {
            a {
              font-weight: 500;
              margin-top: 10px;

              &:hover {
                &::after {
                  content: "";
                  position: absolute;
                  left: 0;
                  bottom: -2px;
                  width: 100%;
                  height: 2px;
                  background-image: linear-gradient(
                    90deg,
                    rgba(131, 58, 180, 1) 0%,
                    rgba(253, 29, 29, 1) 50%,
                    rgba(252, 176, 69, 1) 100%
                  );
                  transform: scaleX(0);
                  transform-origin: left;
                  transition: transform 0.3s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }

  .register {
    width: 800px;
    border-radius: 10px;
    height: 700px;
    display: flex;
    margin: 0 auto;
    margin-top: 100px;

    .reg-first {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 3px;
      padding: 30px;
      width: 50%;
      background: linear-gradient(
        90deg,
        rgba(53, 40, 191, 1),
        rgba(145, 46, 232, 1),
        rgba(169, 90, 237, 1)
      );
      color: #fff;

      p {
        margin-top: 20px;
        font-size: 10px;
        margin-left: 10px;
      }

      .info {
        background: linear-gradient(
          90deg,
          rgba(53, 40, 191, 1),
          rgba(145, 46, 232, 1),
          rgba(169, 90, 237, 1)
        );
        padding: 20px;
        font-size: 14px;
        margin-top: 20px;
        color: #c4baba;
        border-radius: 10px;
      }

      ul {
        li {
          border: none;
          color: #fff;
          background: transparent;
          display: flex;
          align-items: center;

          &::before {
            margin-right: 20px;
            width: 40px !important;
            height: 40px !important;
            padding-left: 10px;
            padding-top: 6px;
            font-size: 20px;
            border-radius: 50%;
            background-color: #4f46e5;
            content: "✔";
            display: block;
          }
        }
      }
    }

    .reg-second {
      padding: 20px;
      width: 50%;

      h2 {
        text-align: center;
        margin-bottom: 10px;
      }

      button {
        height: 50px;
        margin-bottom: 15px;
        width: 200px;
      }
    }
  }
}
